block1/uebungen/uebung2_btemperli.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:Uebung.Namespace"
    xmlns="urn:Uebung.Namespace"
    elementFormDefault="qualified"
>

    <xsd:element name="firma">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mitarbeiter" type="mitarbeiterType" maxOccurs="unbounded" />
                <xsd:element name="projekte" type="projekteType" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="mitarbeiterType">
        <xsd:sequence>
            <xsd:element name="person" type="personType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="personType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute  name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="projekteType">
        <xsd:sequence>
            <xsd:element name="projekt" type="projektType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="projektType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="dauer" type="xsd:duration" />
            <xsd:element name="maref" type="marefType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="marefType">
        <xsd:sequence>
            <xsd:element name="mitarbeiterRef" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="maref" type="xsd:IDREF" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>