block1/projekt/aufgabe2/aufgabe2-btemperli-xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    ===========================================================================
      Written by Beat Temperli
      (c) 2013, beat@temper.li
    ===========================================================================
-->

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:ZHAW.btemperli"
    xmlns="urn:ZHAW.btemperli"
    elementFormDefault="qualified"
>
<!--<xsd:schema-->
    <!--xmlns:xsd="http://www.w3.org/2001/XMLSchema"-->
<!-->-->
    <xsd:element name="zhaw">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="personen" type="personenType" maxOccurs="unbounded" />
                <xsd:element name="projekte" type="projekteType" maxOccurs="unbounded" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="personenType">
        <xsd:sequence>
            <xsd:element name="person" type="personType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="personType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="email" type="xsd:string" />
            <xsd:element name="webseite" type="xsd:anyURI" minOccurs="0" />
            <xsd:element name="kuerzel" type="xsd:string" />
        </xsd:sequence>
        <xsd:attribute  name="id" type="xsd:ID" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="projekteType">
        <xsd:sequence>
            <xsd:element name="projekt" type="projektType" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="projektType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="mitarbeiter" type="mitarbeiterType" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="mitarbeiterType">
        <xsd:sequence>
            <xsd:element name="mitarbeiterReferenz" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="mitarbeiterID" type="xsd:IDREF" use="required" />
                </xsd:complexType>
            </xsd:element>        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>