block1/projekt/aufgabe2/aufgabe2-btemperli-xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>

<!--
    ===========================================================================
      Written by Beat Temperli
      (c) 2013, beat@temper.li
    ===========================================================================
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="projects" type="projectsType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="projectsType">
        <xs:sequence>
            <xs:element name="project" type="projectType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="projectType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="duration" type="xs:duration" />
        </xs:sequence>
        <xs:attribute  name="id" type="xs:ID" use="required"/>
    </xs:complexType>
</xs:schema>