block1/projekt/projekt_btemperli-xsd.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zhaw">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="personen" type="personenType" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="personenType">
        <xs:sequence>
            <xs:element name="person" type="personType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="email" type="xs:string" />
            <xs:element name="webseite" type="xs:anyURI" />
            <xs:element name="kuerzel" type="xs:string" />
            <xs:element name="adresse" type="adresseType" />
            <xs:element name="facebook" type="facebookType" />
        </xs:sequence>
        <xs:attribute  name="id" type="xs:ID" use="required"/>
    </xs:complexType>

    <xs:complexType name="adresseType">
        <xs:sequence>
            <xs:element name="strasse" type="xs:string" />
            <xs:element name="nummer" type="xs:int" />
            <xs:element name="plz" type="xs:int" />
            <xs:element name="ort" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="facebookType">
        <xs:sequence>
            <xs:element name="profile-username" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>